@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');
*{
    font-family: Arial, Helvetica, sans-serif;
}
/* Estilos modernos para los mensajes de éxito y error */
.msg_success,
.msg_error {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  font-weight: bold;
  text-align: center;
  transition: all 0.3s;
  animation: pop 0.5s ease-in-out;
}

@keyframes pop {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

.pop {
  animation: pop 0.3s ease;
}
.msg_success {
  background-color: #4CAF50;
  color: #fff;
}

.msg_error {
  background-color: #f44336;
  color: #fff;
}

/* Estilo general para el cuerpo de la página */
body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  transition: background-color 0.3s;
}

.title{
  padding-top: 20px;
}
.title,
.sub-title{
  text-align: center;
}
/* Estilo para el menú de la compañía con animaciones modernas */

/* Estilo para el botón de alternancia del menú */
.menu-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: transparent;
  border: none;
  color: #fff;
  font-weight: 900;
  font-size: 24px;
  cursor: pointer;
  z-index: 2;
  transition: all .3s;
}
.menu-toggle:hover{
 transform: scale(1.05);
}
/* Estilo para el menú de la compañía */
.company-menu {
  background-color: #333;
  color: #fff;
  width: 200px;
  /* Inicialmente oculto */
  position: fixed;
  top: 0;
  left: -1000px;
  height: 100%;
  overflow: hidden;
  transition: left 0.3s;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
}

/* Ajusta la posición del contenido principal al abrir el menú */
.menu-open {
  left: 0px;
  /* O el ancho que desees */
}
/* Animación al hacer hover sobre el menú */
.company-menu:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.company-menu h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.company-menu a span{
  padding: 0px 10px;
}
.company-menu a {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  transition: all .3s;
}

/* Animación al hacer hover sobre los enlaces del menú */
.company-menu a:hover {
  background-color: #555;
  padding: 10px;
  border-radius: 5px;
}

/* Estilo para el contenido principal con animaciones modernas */
.main-content {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

/* Animación al hacer hover sobre el contenido principal */
.main-content:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilo para los títulos de las páginas */
.page-title {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

/* Estilo para el formulario de agregar un nuevo bus con animaciones modernas */
.login-container {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: box-shadow 0.3s;
}

/* Animación al hacer hover sobre el formulario */
.login-container:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-form-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.login-input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  margin-top: 4px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

/* Animación al hacer focus en los campos de entrada */
.login-input:focus {
  box-shadow: 0 0 10px #00000033;
}

.login-input[type="submit"] {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.login-input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Estilos generales para la tabla */
.bus-options{
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 20px;
}

.buses-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.buses-search-input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.buses-search input[type="text"]::placeholder {
  color: #aaa;
}

.buses-search input[type="submit"] {
  background-color: #0074E4;
  /* Color de fondo */
  color: #fff;
  /* Color del texto */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  /* Transición suave para el color de fondo */
}

.buses-search input[type="submit"]:hover {
  background-color: #0056b3;
  /* Cambio de color al pasar el ratón */
}
.add-bus-btn span{
  font-weight: 900;
}
.add-bus-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  background-color: #0074E4;
  border: 2px solid #0074E4;
  border-radius: 25px;
  padding: 15px 25px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.2s, border 0.2s, transform 0.2s;

}

.add-bus-btn:hover {
  background-color: #0056b3;
  /* Cambio de color al pasar el ratón */
  border: 2px solid #0056b3;
  /* Cambio de borde al pasar el ratón */
  transform: scale(1.05);
  /* Efecto de escala al pasar el ratón */
}/* Estilos para el contenedor principal del dashboard */
.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Estilos para la tabla de autobuses */
.bus-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bus-table th {
  background-color: #36576d;
  color: #fff;
  text-align: left;
  padding: 15px;
}

.bus-table th,
.bus-table td {
  border: 1px solid #ddd;
  padding: 12px;
}

/* Estilos para las filas de la tabla */
.bus-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.bus-table tr:nth-child(odd) {
  background-color: #fff;
}

/* Estilos para las tarjetas de bus */
.bus-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.bus-card:hover {
  transform: translateY(-5px);
}

.bus-title {
  font-size: 1.5rem;
  margin: 0;
  color: #333;
}

.bus-id {
  font-weight: bold;
  color: #777;
}


/* Estilos responsivos */
@media (max-width: 768px) {
  .dashboard-container {
    padding: 10px;
  }

  .bus-table {
    font-size: 14px;
  }

  .bus-table th,
  .bus-table td {
    padding: 10px;
  }

  .bus-card {
    margin: 10px;
    padding: 15px;
  }

  .bus-title {
    font-size: 1.2rem;
  }

  .bus-id {
    font-weight: bold;
  }

  .load-more-button {
    padding: 8px 16px;
  }
}
.edit-button,
.delete-button {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  background-color: #007BFF;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: background-color 0.3s;
}

.edit-button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: #FF0000;
}

.delete-button:hover {
  background-color: #CC0000;
}


/* asientos */
.seat{
  background-color: red;
  margin: 2px;
  padding: 4px;
  border-radius: 5px;

}
.seat-preview{
  display: flex;
  justify-content: center;
}

/* Estilos para el panel de control */
.dashboard {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.dashboard-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.dashboard-cards {
  display: flex;
  justify-content: space-between;
}

.dashboard-card {
  flex: 1;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.dashboard-card:hover {
  transform: translateY(-5px);
}

.card-title {
  font-size: 1.5rem;
  color: #333;
  margin: 0;
}

.card-description {
  font-size: 1rem;
  color: #777;
  margin: 10px 0;
}

.card-link {
  display: inline-block;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  text-decoration: none;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.card-link:hover {
  background-color: #258cd1;
}

/* Estilos para el encabezado (header) */
.header {
  background-color: #333;
  /* Fondo oscuro para el encabezado */
  text-align: center;
  padding: 20px 0;
  display: flex;
}

.header-company {
  border: none;
  position: absolute;
  right: 10px;
  background-color: transparent;
  padding: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-radius: 20px;
  color: #ffffff;
  font-weight: 700;
  transition: background-color 0.3s, color 0.3s;
  top: 15px;
  cursor: pointer;
  transition: all .5s;
}

.header-company:hover {
  background-color: #297fb93b;
  transform: scale(1.05);
}
.header-logo{
  display: block;
  margin: 0 auto;
  width: max-content;
  transition: all .2s;
}
.header a:hover{
  transform: scale(1.1);
}
.header img {
  max-width: 100px;
  /* Ajusta el ancho máximo de la imagen del logo */
  height: auto;
  /* Centra la imagen horizontalmente */
}
.header-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: absolute;
  right: 10px;
  top: 65px;
  border-radius: 10px;
  width: 300px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.header-menu-open {
  display: flex;
}

.menu-info img {
  width: 80px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-info{
  border-bottom: 1px solid rgb(223, 222, 222);
}
.menu-options {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.menu-options a {
  text-decoration: none;
  color: #3498db;
  font-weight: 600;
  transition: color 0.3s;
}

.menu-options a:hover {
  color: #2980b9;
}