@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: 'Poppins', sans-serif; */
:root{
    --aside-w:190px;
    --header-h:45px;
    --color1: rgb(37, 137, 197); /* Tonos de azul más brillante */
    --color2: rgb(58, 168, 242);
    --color3: rgb(102, 122, 158); /* Azul-grisáceo */
    --color4: rgb(68, 75, 87); /* Gris más oscuro */
    --color5: rgb(47, 52, 61); /* Fondo más oscuro */
    --color6: rgb(255, 255, 255);
    --color7: rgb(240, 240, 240);
    --color8: rgb(117, 135, 163);
    --color9: rgb(74, 81, 95);
    --main-bg-color: rgb(238, 243, 248); /* Fondo principal más claro */
    --main-bg-color2: rgb(165, 193, 242); /* Fondo secundario más suave */
    --main-bg-color3: rgb(37, 137, 197); 


    --time:.2s;

    --font1:'Poppins', sans-serif;
    --shadow: inset 0px 0px 20px rgba(17, 0, 0, 0.089);
    --normal-border:1px solid rgba(0, 0, 0, 0.068);

    --body-bg: linear-gradient(173deg, var(--main-bg-color) 50%, var(--main-bg-color2) 100%);
    
}


.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
*{
    font-family: var(--font1);
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
/* Estilos generales para el scrollbar */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--main-bg-color2) var(--main-bg-color);
}

/* Estilo del scrollbar en navegadores WebKit (Safari, Chrome) */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--main-bg-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-bg-color2);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color3);
}

/* Estilo del scrollbar en navegadores Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--color1) var(--main-bg-color2);
}

/* Estilo del scrollbar en navegadores Firefox */
*::-moz-scrollbar {
    width: 8px;
}

*::-moz-scrollbar-track {
    background-color: var(--main-bg-color2);
}

*::-moz-scrollbar-thumb {
    background-color: var(--color1);
    border-radius: 10px;
}

*::-moz-scrollbar-thumb:hover {
    background-color: var(--color2);
}


body{
}
.dashboard-body{
    width:100%;
    padding-top: var(--header-h);
}
.dashboard-aside{
    overflow-y: scroll;
    border-right: var(--normal-border);
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    left: -1020px;
    top: calc(var(--header-h) - 1px);
    z-index: 2 !important;
    width: max-content;
    transition: left var(--time) ease-out;
}

.dashboard-aside-open{
    left: 0px;
}
.aside-profile{
    height: var(--header-h);
    padding: 0px 20px;
    display: flex;
    align-items: center;
    background-color: var(--color4);
    width: calc(var(--aside-w) - 47px);
}
.dashboard-aside button{
    width: max-content;
    margin: 10px 20px;
    background-color: transparent;
    color: #fff;
}
  
.aside-profile-username{
    color: var(--color6);
}
.aside-links{
    padding: 20px 0px;
}
.aside-links-subtitle{
    text-transform: uppercase;
    color: var(--main-bg-color2);
    font-size: .7em;
    padding: 10px 20px;
    font-weight: 900;
}
.aside-links-title:hover{
   color: rgba(0, 0, 0, 0.541);
}

.aside-links-title{
    transition: all var(--time);
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.267);
    font-size: 1.2em;
    padding: 10px 20px;
    font-weight: 900;
}
.aside-links-li{
    transition: all var(--time);
}
.aside-links-li-ul-li-a:hover{
    background-color: var(--main-bg-color3);
    color: #fff;
}
.aside-links-li-ul-li{
    width: 100%;
    padding: 10px 20px;
}
.aside-links-li-ul-li-a{
    width: 100%;
    display: inline-block;
    padding: 10px 20px;
    border-radius: var(--radius);
    transition: all var(--time);
    font-weight: 900;
    color: var(--main-bg-color3);
    font-size: .8em;
}

.aside-links-li-ul-li-a i{
    padding-right: 10px;
}


.aside-menu{
    background-color: transparent;
    cursor: pointer;
}

.dashboard-header{
    background-color: var(--main-bg-color);
    border-bottom: var(--normal-border);
    position: fixed;
    width: 100%;
    padding: 20px;
    height: var(--header-h);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.dashboard-header-search{
    background-color: var(--color7);
    width: max-content;
}

.dashboard-header-search input::placeholder{
    color: var(--color9);
}

.dashboard-header-search input{
    color: var(--color9);
    background-color: var(--color7);
    height: 30px;
    outline: none;
    display: inline-block;
    border: none;
}

.dashboard-header-search button{
    background-color: var(--color2);
    height: 100%;
    padding: 5px 10px;
    color: var(--color6);
    font-weight: 900;
    cursor: pointer;    
    border: none;
}

.dashboard-header-search i{
    padding: 0px 5px;
    font-size: .8em;
    color: var(--color9);
}

.dashboard-header-profile a{
    display: flex;
    justify-content: center;
    color: var(--color9);
}
.dashboard-header-profile{

}

.username-span{
    color: var(--color8);
}



/* Estilos generales */
.cards-container{
    height: 90vh;
    overflow-y: scroll;
    padding: 20px;

}
.page-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.page-title {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos para cada tarjeta de solicitud */
.request-approved{
    background-color: rgb(225, 253, 227) ;
}
.request-rejected{
    background-color: rgb(252, 209, 209);
}
.request-pending{
    background-color: rgb(222, 225, 255);
}
.request-card {
    position: relative;
    padding: 25px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: var(--shadow);
}
.request-card-admin{
    background-color: rgb(186, 219, 250);
}

.status-icon{
    color: rgba(2, 0, 0, 0.226);
    position: absolute;
    top: 20px;
    right: 20px;
}

.request-card strong{
    color: rgba(0, 0, 0, 0.63) ;
    word-break: break-all;
    padding: 5px 0px;
    width: 100%;
    white-space: pre-wrap; /* Esto permite que los espacios en blanco y los saltos de línea se respeten */
    overflow-wrap: break-word; /* Esto ayuda a evitar que las palabras se desborden */
    overflow: hidden; /* Esto oculta el contenido que se desborda del ancho */
}

.request-card p,
.request-card pre {
    color: rgba(0, 0, 0, 0.829) ;
    display: flex;
    padding-left: 20px;
    padding-bottom: 10px;
}


.request-title {
    font-size: 20px;
    margin-bottom: 10px;
}
.request-title-admin{
    display: flex;
    align-items: center;
    color: rgb(54, 122, 248);
}
.request-form {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.action-select {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

.submit-button {
    padding: 6px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}

/* Estilos para el formulario */
.request-form label {
    font-weight: bold;
    margin-right: 10px;
}
/* ... Rest of your styles ... */

.filter-form {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.filter-select {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

.filter-button {
    padding: 6px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.filter-button:hover {
    background-color: #0056b3;
}

/* Resto de los estilos de la página, como header, footer, etc. */
