:root{
    --input-b:rgb(119, 119, 119);
    --input-b-focus:rgb(185, 185, 185);
    --input-c:rgb(51, 51, 51);
    --input-bg:rgb(255, 255, 255);

    --input-f-bg:rgb(233, 233, 233);


    --radius: 5px;
}
button{
    border: none;
}
.msg-error{
    color: red !important;
}

.msg-success {
    color: rgb(11, 167, 76) !important; 
}
.campo-vacio{
    border: 1px solid rgb(207, 131, 131) !important;
}
.title{
    text-align: center;
    font-size: 2em;
    font-weight: 900;
    color: var(--color1);
}
.normal-btn{
    background-color:var(--main-color);
    padding: 2px 10px;
    display: inline-block;
    border-radius: var(--radius);
    transition: filter var(--time) ease; 
}
.normal-btn:hover{
    filter: brightness(0.8);
}
.blue-c{
    color: rgb(51, 87, 153) ;
}
.save{
    color: #fff !important;
    background-color: rgb(34, 177, 34) !important;
}

.success{
    color: #fff !important;
    background-color: rgb(29, 85, 206) !important;
}


.danger{
    color: #fff !important;
    background-color: rgb(206, 29, 29) !important;
}   

.normal-input{
    transition: all var(--time) ease;
    background-color: var(--input-bg);
    border: 1px solid var(--input-b);
    border-radius: var(--radius);
    color: var(--input-c);
    padding:2px 14px;
}

.normal-input:focus{
    letter-spacing: 1px;
    border-color: var(--input-b-focus);
    outline: none;
}

.error-msg{
    color: rgb(230, 82, 82) !important;
    border-radius: 10px;
}
.success-msg{
    color: rgb(116, 247, 137) !important;
    border-radius: 10px;
}

.floating-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 3000;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color1);
    color: var(--main-font-color);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    animation: fadeInUp 0.9s ease-in-out;
  }
  
  .close-btn {
    padding-left: 20px;
    background-color: transparent;
    border: none;
    color: var(--main-font-color);
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  