@media screen and (max-width: 550px) {
  .header-links-logo{
    display: flex;
  }
    .header{
      padding: 10px !important;
    }
   .header-links{
    width: 100%;
    left: 1000px !important;
  }  
  .header-links-open{
    left: 0px !important;
  }
   
  .header-links-bar{
    left:unset !important;
    right: 10px;
  }
   .header-links-li-m{
    display: inline-block;
  }
   .header-btns{
    display: none;
  }
  .header-search-form{
    position: absolute;
    top: 100px;
    width: 95vw;
  }
   .header-bars{
    order: 12;
   }
   .hero-txt-title{
    font-size: 1em;
  }
  .hero-txt-desc{
    font-size: .7em;
  }
}


@media screen and (max-width: 820px) {
  .user-options{
    position: absolute;
    top: 70px;
  }
  .header-btns-help{
    display: none;
  }
  .header-links{
    display: flex;
    left: -1000px;
  }
  .header-links-open{
    display: flex;
    left: 0px;
  }
  .header-links-bar{
    top: 12px;
    left: 10px;
  }
  .header-bars{
    display: flex;
  }
  .header-actions{
    display: none;
  }
    /* Estilos para dispositivos con un ancho máximo de 768px */
    .footer-links-container {
        flex-direction: column; /* Cambia a una columna */
    }
    
    .footer-links {
        padding: 20px; /* Restaura el padding */
    }
}

@media (max-width: 768px) {
    .hero {
      flex-direction: column;
    }
  
    .hero-txt {
      width: 100%;
      margin: 10px auto;
    }
    
  
    .hero-form {
      flex-direction: column;
      padding: 0px 0px;
      position: relative;
      background-color: transparent;
      box-shadow: none;
      overflow: visible;
    }
    .hero-form-group{
      background-color: var(--main-color);
      width: 100%;
      border: none;
    }
    .hero-form-group:first-child {
      border-bottom: 2px solid hsl(207, 43%, 92%);
      border-radius: 10px 10px 0px 0px;
    }
    
    .hero-form-group:nth-child(3){
      border-radius: 0px 0px 10px 10px;
      margin-bottom: 20px !important;
    }
    .hero-form-group:nth-child(4) {
      border-radius: 10px 10px 0px 0px;
    }
  .hero-form-group:nth-child(5) {
    border-radius: 0px 0px 10px 10px;
  }
    .hero-label {
      margin-bottom: 3px;
    }
  
    .hero-input[type="text"],
    .hero-input[type="number"],
    .hero-input[type="datetime-local"] {
      width: 100%;
      height: 60px;
      font-size: 1em;
    }
  
    .hero-button {
      padding: 8px 14px;
      width: 100%;
      margin-top: 20px;
      border-radius: 7px;
    }
    
    .ida-vuelta-icon{
      position: absolute;
      top: 90px;
      right: 30px;
      border-color:hsl(207, 43%, 92%);
      background-color: var(--main-color);
      transform: rotate(90deg);
    }

    .lines-container-box{
      flex-direction: column;
    }

    .lines-container-lines{
      width: 100%;
      padding: 20px 10px;
      }
      .line-box{
        width: 100%;
        position: relative;
        flex-direction: column;
        justify-content: center;
        padding: 30px 15px;
      }
      .line-box-info{
        flex-direction: column;
      }
      .line-box-has{
        position: absolute;
        top: 10px;
        right: 10px;
      }
      
      .line-box-info-time-time{
        font-size: 1.1em;
        font-weight: 600;
      }
      .line-box-info-box{
        padding: 10px 0px;
        justify-content: space-between;
      }
    }
  

  @media (max-width: 768px) {
    .login-form {
      width: 90%;
    }
  }
  
  @media (max-width: 768px) {
    .login-container {
      align-items: center;
      padding: 20px 0;
    }
  
    .login-form {
      padding: 30px;
    }
  
    .login-form-title {
      font-size: 1.4em;
    }
  
    .login-input,
    .login-input-password {
      padding: 8px;
      font-size: 0.9em;
    }
  
    .toggle-password-l {
      font-size: 1em;
    }
  
    .login-form input[type=submit] {
      padding: 8px 14px;
      font-size: 0.9em;
    }
  
    .login-container p {
      font-size: 0.9em;
      margin-top: 10px;
    }
  }
  