@media screen and (max-width: 500px) {
    .header{
      padding: 10px !important;
    }
   .header-links{
    width: 100%;
   }
   
  .header-links-bar{
    left:unset !important;
    right: 20px;
  }
   .header-links-li-m{
    display: inline-block;
  }
   .header-btns{
    display: none;
  }
  .header-search-form{
    position: absolute;
    top: 100px;
    width: 95vw;
  }
  .user-options{
    position: absolute;
    top: 100px;
  }
   .header-bars{
    order: 12;
   }
   .hero-txt-title{
    font-size: 1em;
  }
  .hero-txt-desc{
    font-size: .7em;
  }
}


@media screen and (max-width: 768px) {
  .header-btns-help{
    display: none;
  }
  .header-links-open{
    display: flex;
  }
  .header-links-bar{
    left: 20px;
  }
  .header-bars{
    display: flex;
  }
  .header-actions{
    display: none;
  }
    /* Estilos para dispositivos con un ancho máximo de 768px */
    .footer-links-container {
        flex-direction: column; /* Cambia a una columna */
    }
    
    .footer-links {
        padding: 20px; /* Restaura el padding */
    }
}

@media (max-width: 768px) {
    .hero {
      flex-direction: column;
    }
  
    .hero-txt {
      width: 100%;
      margin: 10px auto;
    }
    
  
    .hero-form {
      flex-direction: column;
      padding: 30px 10px;
    }
    .hero-form-group{
      width:100%;
    }
  
    .hero-label {
      margin-bottom: 3px;
    }
  
    .hero-input[type="text"],
    .hero-input[type="number"],
    .hero-input[type="datetime-local"] {
      width: 100%;
      height: 60px;
      font-size: 1em;
    }
  
    .hero-button {
      padding: 8px 14px;
      width: 98%;
      border-radius: 7px;
    }
  }
  

  @media (max-width: 768px) {
    .login-form {
      width: 90%;
    }
  }
  
  @media (max-width: 768px) {
    .login-container {
      align-items: center;
      padding: 20px 0;
    }
  
    .login-form {
      padding: 30px;
    }
  
    .login-form-title {
      font-size: 1.4em;
    }
  
    .login-input,
    .login-input-password {
      padding: 8px;
      font-size: 0.9em;
    }
  
    .toggle-password-l {
      font-size: 1em;
    }
  
    .login-form input[type=submit] {
      padding: 8px 14px;
      font-size: 0.9em;
    }
  
    .login-container p {
      font-size: 0.9em;
      margin-top: 10px;
    }
  }
  